@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(27, 28%, 51%, 0.782);
  font-family: "Josefin";
}
/* navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: 
  hsl(0, 0%, 0%);
  height: 80px;
  width: 100%;
  padding:0 20px;
  box-shadow: 5px 5px 5px #363635c6 ;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h3 {
  margin: 0;
}

header h3 a {
  color: #fff;
  text-decoration: none;
}

.logoContainer img{
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

.logoContainer img:hover{
  cursor: pointer;
}


.logoContainer h1{
  padding: 15px;
  color: white;
}


.logout {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #000000;
  transition: all 0.2s ease;
}

.logout:active {
  transform: scale(0.96);
}

.logout:before,
.logout:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.logout:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #fffeff 20%, transparent 30%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.logout:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.home {

  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.903) ;
}

/*quote */
.qoute {
  color: rgb(237, 237, 237);
  display: flex ;
 justify-content: center;
 align-items: center;
 height: 80vh;
 font-style: italic;
 font-weight: bolder;
 font-size: 3em;
 text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
}

.home {
background-image: url("/img/bg_img.jpg");
background-color: hsla(0, 0%, 0%, 0.46);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background-repeat: no-repeat;
height: 100vh;

}
/* end quote */
.text p {
color: black;
display: flex;
justify-content: center;
align-items: center;
font-weight: bolder;
padding-top: 100px;
font-size: 4em;
font-family: "Joan", serif;
}

/* Beginning of News Tiles */

.newsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.imageContainer {
  width: 425px;
  background-color: rgba(255, 255, 255, 0.284);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px;
  margin: 25px;
}
.imageContainer img {
  width: 100%;
  height: 70%;
}
.content {
  padding: 20px;
}
.content h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  color: hsl(37, 98%, 53%);
}
.content p {
  text-align: center;
}
.imageContainer:hover {
  transform: scale(1.02);
  box-shadow: 2px 3px 5px hsl(0, 0%, 16%);
  cursor: pointer;
}

/* End of News Tiles */

/* Starting of Footer */

footer {
  background-color: hsl(0, 0%, 7%);
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  margin: 10px;
}

.socialIcons a i {
  font-size: 2em;
  color: hsl(0, 0%, 0%);
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: hsl(0, 0%, 7%);
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: hsl(0, 0%, 100%);
  transition: 0.5s;
}


.footerCredits {
  background-color: hsl(0, 0%, 7%);
  padding: 20px;
  text-align: center;
}

.footerCredits p {
  color: hsl(0, 0%, 100%);
}

.footerCredits a {
  text-decoration: none;
  color: hsl(0, 0%, 68%);
}

.credits {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.credits:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}



/* Ending of Footer */
