/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Defining Colors */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #0d1b2a;
  --gray: #1b263b;
  --light: #415a77;
  --alice: #f0f8ff;
}

/* Webpage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: var(--alice);
}

/* Beginning of Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  height: 80px;
  width: 100%;
  padding: 0 20px;
  box-shadow: 5px 5px 5px var(--gray);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navContainer img {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: flex-start;
}

.navContainer img:hover {
  cursor: pointer;
}

.navContainer h1 {
  padding: 15px;
  color: var(--alice);
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(0, 0, 0);
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.btntext {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.Btn:hover .btntext {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}
/* Ending of Header */
/* Beginning of Hero Section */
.heroSection {
  height: 100vh;
  width: 100%;
  background-image: url("img/heroBG.jpg");
  background-color: #0d1b2a;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px var(--gray);
}

.qoute {
  color: var(--alice);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-style: italic;
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 2px 2px 5px var(--black);
}
/* Ending of Hero Section */
/* Beginning of Tiles */
.text p {
  color: var(--alice);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding-top: 100px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.tilesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.tile {
  width: 425px;
  background-color: var(--gray);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px var(--black);
  margin: 25px;
}

.tile img {
  width: 100%;
  height: 70%;
}

.content {
  padding: 20px;
}

.content h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px var(--black);
  color: var(--alice);
}

.content p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 800;
  margin: 5px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
}

.tile:hover {
  transform: scale(1.02);
  box-shadow: 2px 3px 5px var(--black);
  cursor: pointer;
  transition: 0.2s;
}
/* Ending of Tiles */
/* Beginner of Footer */
footer {
  background-color: var(--dark);
}

.footerContainer {
  width: 100%;
  padding: 20px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--alice);
  border-radius: 50%;
  margin: 10px;
}

.socialIcons a i {
  font-size: 1.5em;
  color: hsl(0, 0%, 0%);
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: var(--dark);
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: hsl(0, 0%, 100%);
  transition: 0.5s;
}

.footerCredits {
  background-color: var(--dark);
  margin: 20px;
  text-align: center;
  font-size: 0.85rem;
}

.footerCredits p {
  color: hsl(0, 0%, 100%);
}

.footerCredits a {
  text-decoration: none;
  color: hsl(0, 0%, 68%);
}

.credits {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.credits:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
/* Ending of Footer */

/* Media Queries */
@media (max-width: 1200px) {
  .heroSection h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .heroSection h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .heroSection h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .heroSection h3 {
    font-size: 1.5rem;
  }
}
