@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(27, 28%, 51%, 0.782);
  font-family: "Josefin";
}
/* navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  height: 80px;
  width: 100%;
  padding: 0 20px;
  box-shadow: 5px 5px 5px #363635c6;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h3 {
  margin: 0;
}

header h3 a {
  color: #fff;
  text-decoration: none;
}

.logoContainer img {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

.logoContainer img:hover {
  cursor: pointer;
}

.logoContainer h1 {
  padding: 15px;
  color: white;
}

/* Log Out Btn */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(0, 0, 0);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

.home {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.903);
}

/*quote */
.qoute {
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-style: italic;
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%);
}

.home {
  background-image: url("img/bg_img.jpg");
  background-color: hsla(0, 0%, 0%, 0.46);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
  height: 100vh;
}
/* end quote */
.text p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding-top: 100px;
  font-size: 4em;
  font-family: "Joan", serif;
}

/* Beginning of News Tiles */

.newsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.imageContainer {
  width: 425px;
  background-color: rgba(255, 255, 255, 0.284);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px;
  margin: 25px;
}
.imageContainer img {
  width: 100%;
  height: 70%;
}
.content {
  padding: 20px;
}
.content h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
  color: hsl(37, 98%, 53%);
}
.content p {
  text-align: center;
}
.imageContainer:hover {
  transform: scale(1.02);
  box-shadow: 2px 3px 5px hsl(0, 0%, 16%);
  cursor: pointer;
}

/* End of News Tiles */

/* Starting of Footer */

footer {
  background-color: hsl(0, 0%, 7%);
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  margin: 10px;
}

.socialIcons a i {
  font-size: 2em;
  color: hsl(0, 0%, 0%);
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: hsl(0, 0%, 7%);
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: hsl(0, 0%, 100%);
  transition: 0.5s;
}

.footerCredits {
  background-color: hsl(0, 0%, 7%);
  padding: 20px;
  text-align: center;
}

.footerCredits p {
  color: hsl(0, 0%, 100%);
}

.footerCredits a {
  text-decoration: none;
  color: hsl(0, 0%, 68%);
}

.credits {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.credits:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

/* Ending of Footer */
